.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
  }

  .main {
    max-width: 1024px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    color: #d7d7d7;
  }
}




