.header {
  border-bottom: 1px solid #747474;
  display: flex;
  justify-content: end;
  height: 50px;
  align-items: center;
}

.menu-link {
  padding: 10px;
  text-decoration: none;
  color: #747474;
}

.menu-link:hover {
  transform: translateY(-3px);
  color: #d7d7d7
}
